body {
  background-color: #262626;
  color: white;
  margin: 0;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}
header {
  box-shadow: 0 5px 4px 1px #2EFFA8;
  padding: 16px;
}
#banner > h1 {
  margin: 0;
}
#banner > h2 {
  margin: 8px 0 0 0;
}
main {
  padding: 16px;
}
footer {
  position: static;
  bottom: 0;
  background-color: #2EFFA8;
  color: #262626;
  padding: 8px 16px;
}