@import 'tailwindcss';

@theme {
  --colour-my-red: #c8553d;
  --colour-my-orange: #f28f3b;
  --colour-my-body: #393d3f;
  --colour-my-footer: #1789fc;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--colour-my-red);
  color: white;
  font-family: 'Pirata One', system-ui;
  height: 100%;
  position: relative;
  display: block;
}
header {
  background: var(--colour-my-orange);
  box-shadow: 0 5px 4px 1px var(--colour-my-red);
  padding: 16px;
}
#banner > h1 {
  margin: 0;
}
#banner > h2 {
  margin: 8px 0 0 0;
}
main {
  padding: 16px;
}
a.hyperlink {
  color: var(--color-pink-500);
}
a.hyperlink:hover {
  color: var(--color-pink-600);
}
